<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Logging Example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous"
    rel="stylesheet"/>
  </head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">

      <!-- Home Link-->
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <!-- About Link -->
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <!--Contact Link-->
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>

  <div role="main" class="container">
    <br/>
    <br/>
   <p>Employee ID: <%= employeeId %></p>
  </div>

</body>
</html>
