<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      Title: Exercise 6.3
      Author: Nick Schaferhoff
        Modified by: Rita DeBraal
      Date: 14 September 2019
    -->

    <title>Rita DeBraal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="../main.css">

  </head>

<body>
<header class="page-header header container-fluid">
  <div class="overlay"></div>
  <div class="description">
    <h1>Welcome to the Landing Page!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis. Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.</p>
  </div>
</header>

<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="../main.js"></script>
</body>
</html>
